body .modal-dialog {
  /* Width */
  max-width: 100%;
  width: auto !important;
  display: inline-block;
}

.modal {
  z-index: -1;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.modal-open .modal {
  z-index: 1050;
}

.modal-content {
  background-color: #fff0;
  border-radius: 20px;
}

.modal-body {
  padding: 0px;
}
